*{
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(196, 156, 156);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    border: 1px solid #696969;
}
.calculo {
   margin: 20px auto;
   padding: 50px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   font-weight: normal;
   font-size: 17px;
   margin-right: 10px;
   margin-left: 10px;
   line-height: 50px;
   margin-bottom: 0%;
   padding-bottom: 0%;
   margin-top: 0%;
   padding-top: 0%;
}
#infoextra {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 50px auto;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 19px;
}
.title {
    font-weight: bold;
    font-size: 40px;
}
.by {
    font-size: 20px;
    padding: 10px;
    font-weight: normal;
    color: black;
}
